@page
@model ListModel
@{
}


<h1> Restaurants </h1>


<form method="get">
<div class="form-group">
<div class="input-group">

    <input asp-for="SearchTerm" type="search" class="form-control" />
    <span class="input-group-btn">

        <button class="btn btn-default">
            <i class="glyphicon glyphicon-search" ></i>
        </button>
    </span>

</div>

</div>


</form>


@foreach (var r in Model.Restaurants){

    <partial name="_Summary" model="r" />
}


<a asp-page="./Edit"  class='btn-btn-info' > Add New</a>



@section footer{
    <div>

 @Model.Message  

</div>

}



